@import '../../../assets/styles/mixin';

.form {
  display: inline-flex;
  flex-direction: column;

  width: 100vw;

  padding: 0 38px;

  @media screen and (max-width: 768px) {
    max-width: 480px;
    margin-top: 40px;
  }
  @include tablet {
    width: 400px;
    padding: 32px 50px;

    background-color: rgb(25, 29, 40);
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
      0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
  }
}

.title {
  text-align: center;
  font-size: 24px;
  color: #f3f3f3;
  font-weight: 600;
  line-height: 1;
  @media screen and (max-width: 768px) {
    transform: translateY(-108px);
  }
  @include tablet {
    margin-bottom: 44px;
    font-size: 20px;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input {
  height: 40px;
  border: 1px solid rgba(243, 243, 243, 0.4);
  border-radius: 28px;
  background-color: transparent;
  padding: 10px 24px;
  color: var(--main-text);
  margin-top: 6px;
  outline: none;

  @include tablet {
    border: 1px solid rgba(108, 108, 108, 0.4);
  }

  &::placeholder {
    color: var(--main-text);
  }
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: rgba(243, 243, 243, 0.8);
  line-height: 1.29;
  position: relative;

  @include tablet {
    color: #6c6c6c;
  }
}

.btn {
  margin-top: 40px;
  height: 44px;
  background-color: #f3f3f3;
  color: #3a6af5;
  outline: transparent;

  border: transparent;
  border-radius: 60px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;

  @include tablet {
    background-color: var(--accent-color-normal-state);
    color: #f3f3f3;
  }
}

.eye {
  width: 20px;
  height: 20px;
  stroke: currentColor;
  fill: currentColor;
  position: absolute;
  right: 12px;
  bottom: 10px;
}

.error {
  position: absolute;
  bottom: -15px;
  color: #ff2e00;
  font-size: 12px;
}
