.label {
  color: rgba(243, 243, 243, 0.4);
  font-size: 12px;
  line-height: 1.17;
  padding-left: 18px;
}

.svg {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.optionWrapper {
  display: flex;
  align-items: center;
}
