@import '/assets/styles/mixin';

.secondary {
  background-color: rgb(243, 243, 243);
  color: rgba(36, 36, 36, 1);
}

.secondary:hover {
  background-color: rgb(58, 106, 245);
  color: var(--main-text);
}

.button {
  width: 100%;
  height: 36px;
  padding: 8px;
  border: none;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @include font(700, 14px, 1.43);
  font-feature-settings: 'liga' off;

  transition-property: 'color, background-color';
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.diagram {
  width: 14px;
  height: 14px;
  stroke: currentColor;
  fill: currentColor;
}
