
// .react-datepicker__month--selected {
//     background-color: black;
//     border-radius: 16px;
// }

// .react-datepicker {
//     background: #df3c3c;
//     box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.26);
//     border-radius: 16px;
// }

// .react-datepicker__month-container{
//     border-radius: 50%;
// }

// .MonthPeriod_calendar__vr8Ov {
//     border-radius: 56px;
// }


.react-datepicker__tab-loop {
    background-color: aqua;
    
}

.react-datepicker__tab-loop__start {
    background-color: aqua;
    
}

.react-datepicker__month-containe {
    background-color: rgb(235, 31, 235);
    
    
}


.react-datepicker__header {
    background-color: aqua;
    // border: solid 13px black;
    // border-radius: 16px;
    
}

// react-datepicker__header react-datepicker__header--custom

.react-datepicker__header--custom {
    background-color: rgb(235, 31, 235);
    // border: solid 13px black;
    // border-radius: 16px;
}
// .react-datepicker__month{
//     background: #df3c3c;
//         box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.26);
//         border-radius: 16px;
// }

// .react-datepicker__monthPicker{
//     background: #df3c3c;
//         box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.26);
//         border-radius: 16px;
// }



.react-datepicker__month-text {

    padding: 6px 18px;
    border-radius: 50px;
}


.react-datepicker__month-text:hover {
    background-color: #3A6AF5;
}

.react-datepicker__month-text--keyboard-selected {
    background-color: green;
    color: green;
}
