.react-select__control {
  width: 232px !important;
  height: 52px !important;
  background-color: rgba(58, 106, 245, 1) !important;
  border-radius: 16px !important;
  border-color: rgb(58, 106, 245) !important;
  flex: none !important;
  order: 0 !important;
  flex-grow: 0 !important;
}

.react-select__placeholder {
  color: rgba(243, 243, 243, 0.4) !important;
}

.react-select__single-value {
  font-family: 'Lato' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  display: flex !important;
  align-items: center !important;

  color: #f3f3f3 !important;
}

.react-select__indicator-separator {
  display: none;
}
